* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #C9DBFF;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 30px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0 30px;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0 20px;
}

.nav-list a:hover {
    color: #FFFFFF;
}

.button-nav {
    background-color: #3F4E6A;
    color: #FFFFFF;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 25px;
    word-wrap: break-word;
}

.button-nav:hover {
    -webkit-text-fill-color: #C9DBFF;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 50px 200px;
}

.main h1 {
    font-size: 50px;
    margin: 50px 0;
}

.main p {
    font-size: 25px;
    margin: 75px 0;
}

.button-primario {
    background-color: #3F4E6A;
    color: #FFFFFF;
    border: 2px solid black;
    border-radius: 8px;
    padding: 25px 35px;
    word-wrap: normal;
}

.button-primario:hover {
    -webkit-text-fill-color: #C9DBFF;
}

.button-secundario {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid black;
    border-radius: 8px;
    padding: 25px 35px;
    word-wrap: normal;
}

.button-secundario:hover {
    -webkit-text-fill-color: #C9DBFF;
}

.main-image {
    width: 100%;
}

.tools {
    background-color: #C9DBFF;
    height: 500px;
    width: 100%;
}